<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.ac.poliban.mi.mambang.codingchallenge">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodingChallenge"
        tools:targetApi="31">
        <activity
            android:name="id.ac.poliban.mi.mambang.codingchallenge.FirstActivity"
            android:label = "Text One"
            android:parentActivityName="id.ac.poliban.mi.mambang.codingchallenge.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.poliban.mi.mambang.codingchallenge.MainActivity" />
        </activity>
        <activity
            android:name="id.ac.poliban.mi.mambang.codingchallenge.SecondActivity"
            android:label="Text Two"
            android:parentActivityName="id.ac.poliban.mi.mambang.codingchallenge.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.poliban.mi.mambang.codingchallenge.MainActivity" />
        </activity>
        <activity
            android:name="id.ac.poliban.mi.mambang.codingchallenge.ThirdActivity"
            android:label="Text Three"
            android:parentActivityName="id.ac.poliban.mi.mambang.codingchallenge.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.poliban.mi.mambang.codingchallenge.MainActivity" />
        </activity>
        <activity
            android:name="id.ac.poliban.mi.mambang.codingchallenge.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>